<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="{{site.charset}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{wp_title}}</title>
    <meta name="description" content="{{site.description}}" />
    <meta name="keywords" content="free html template, bootstrap, ui kit, sass" />
    <meta name="author" content="Peter Finlan and Taty Grassini Codrops" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{site.theme.link}}/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.theme.link}}/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.theme.link}}/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.theme.link}}/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.theme.link}}/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.theme.link}}/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.theme.link}}/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.theme.link}}/img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.theme.link}}/img/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{site.theme.link}}/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{site.theme.link}}/img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{site.theme.link}}/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{site.theme.link}}/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{site.theme.link}}/img/favicon/manifest.json">
    <link rel="shortcut icon" href="{{site.theme.link}}/img/favicon/favicon.ico">
    <link rel="pingback" href="{{site.pingback_url}}" />
    <meta name="msapplication-TileColor" content="#663fb5">
    <meta name="msapplication-TileImage" content="{{site.theme.link}}/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="{{site.theme.link}}/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#663fb5">
    <link rel="stylesheet" href="{{site.theme.link}}/css/landio.css">
        {{function('wp_head')}}
